<section class="nav">
  <div class="ui stackable menu">     
    <%= link_to (image_tag "impretintas_logo.jpg", class: "logo"), root_path, class: "item" %>
    <%= link_to "Productos", "#", class: "item" %>
    <%= link_to "Servicios", "#", class: "item" %>    
    <%= link_to "Quienes Somos", "#", class: "item" %>
    <%= link_to "Consejos", "#", class: "item" %>
    <%= link_to "Mapa", "#", class: "item" %>
    <%= link_to "Contacto", "#", class: "item" %>
    <%= link_to raw('<i class="facebook square icon"></i>'), "https://www.facebook.com/impretintasper1/", target: :_blank, class: "item" %>    
  </div>
</section>